.nav {
  display: block;
  width: 980px;
  height: 48px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #ffff00));
  background-image: -webkit-linear-gradient(top, #ff0000, #ffff00);
  background-image: -moz-linear-gradient(top, #ff0000, #ffff00);
  background-image: -o-linear-gradient(top, #ff0000, #ffff00);
  background-image: linear-gradient(top, #ff0000, #ffff00);
}
